@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//Variables

$main-blue-dark: hsl(234, 29%, 20%);
$main-grey-med: hsl(235, 18%, 26%);
$main-grey-light: hsl(231, 7%, 60%);
$red: hsl(4, 100%, 67%);

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: #36384D;
    font-size: 16px;

    .container {
        background: #fff;
        border-radius: 30px;
        
        display: flex;
        width: fit-content;

        .info {
            padding: 80px 60px;
            color: $main-blue-dark;

            h1 {
                font-size: 50px;
                
                margin: 0;
                padding: 0;
            }

            p {}

            ul {
                padding: 0;


                li {
                    // list-style-image: url(/assets/images/icon-list.svg);
                    background: url(/assets/images/icon-list.svg) no-repeat 7px 7px transparent;
                    list-style-type: none;
                    margin: 0;
                    padding: 8px 0px 8px 45px;
                    vertical-align: middle;

                    &::marker {
                        display: none;
                    }
                }
            }

            .email-label {
                display: block;
                font-size: 13px;
                font-weight: 700;
                margin: 0 0 15px 0;
            }

            input#email {
                width: 100%;
                display: block;
                border-radius: 5px;
                border: 1px solid rgba($main-grey-light, 0.6);
                padding: 15px 0;
            }

            input[type="submit"] {
                width: 100%;
                background: $main-blue-dark;
                padding: 15px 0;
                border-radius: 5px;
                color: #fff;
                font-weight: 700;
                font-size: 15px;
                margin: 25px 0 0 0;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .container-img {
            padding: 20px;
             img {
                
             }
        }

    }

    .credits {
        position: absolute;
        bottom: 10px;
        left: 0;
        font-size: 14px;
        margin: 0 auto;
        width: 100vw;
        color: #fff;
        text-align: center;

        a {
            color: $red;

            &:hover {
                text-decoration: none;
            }
        }
    }
}